---
title: Mirrors
date: 2015-11-29 21:00:03
layout: mirrors
---
<style type="text/css">
.table {
  font-size: 1.2em;
}
.table a {
  color: #64aed9;
}
tr {
  border: none;
}
.table td, .table th {
  border-bottom: 1px solid white;
  padding: 5px;
}
.sync {
  width: 60px;
}
.sync-success {
  background-color: #5cb85c;
  border-color: #5cb85c;
}
</style>
<table class="table table-hover table-condensed">
  <thead>
    <tr style="border-bottom: 2px solid #F2F2F2;">
      <td><b>Name</b></td>
      <td><b>Last update</b></td>
      <td><b>State</b></td>
      <td><b>Help</b></td>
    </tr>
  </thead>
  <tbody id="mirror_list" style="min-height: 450px;"></tbody>
</table>
