<div class="container">
  <div id="main" style="margin-top:30px;">
    <div class="row pl-0">
      <div class="col-md-12 col-sm-12 pl-0">
        <div class="content-page">
          <h2 class="mb-3">中国科学院开源软件协会</h2>
          <div class="row mb-3">
            <div class="col-md-8">
              <h4>社团介绍</h4>
              <hr />
              <p>中国科学院开源软件协会（OpenCAS）创建于2006年，是中科院研究生组成的开源技术社区，也是国内历史最悠久的高校开源组织之一。</p>
              <p>协会秉承 <b class="require">“开放·自由·分享”</b> 的理念聚集开源爱好者，分享开源技术，传递开源理念，为科学院的同学创建平台参与开源项目。并与如Linux Foundation，Firefox，Apache开源软件基金会，BLUG、华为等开源社区、组织和企业进行合作交流。多年来的努力使得协会在开源社区中拥有一定的知名度，各大厂商也提供越来越多的支持。</p>
              <p>倪光南院士、宫敏老师、陈越老师、Intel云平台总监陈绪经理是协会的指导老师。华为副总裁郑忠源博士也给协会提供开源软件实践的机会。</p>
              <div class="row mb-4">
                <div class="col-md-6">
                  <ul class="list-unstyled">
                    <li><i class="fas fa-check-square"></i> 技术交流</li>
                    <li><i class="fas fa-check-square"></i> 传播开源文化</li>
                    <li><i class="fas fa-check-square"></i> 项目锻炼</li>
                  </ul>
                </div>
                <div class="col-md-6">
                  <ul class="list-unstyled">
                    <li><i class="fas fa-check-square"></i> 知识分享</li>
                    <li><i class="fas fa-check-square"></i> 实习/就业帮助</li>
                    <li><i class="fas fa-check-square"></i> 企业合作交流</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <img src="<%- url_for('assets/imgs/opencas_logo_black.png') %>" />
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-12">
              <h4>历届社团负责人</h4>
              <hr />
              <table class="table">
                <tbody>
                  <tr>
                    <th scope="row">2015-2016</th>
                    <td>陈新宇 <a data-original-title="Mail" href="mailto:jasinechen@gmail.com"><i class="far fa-envelope"></i></a></td>
                    <td>丁磊</td>
                    <td>许丹凤 <a data-original-title="Mail" href="mailto:417890223@qq.com"><i class="far fa-envelope"></i></a></td>
                  </tr>
                  <tr>
                    <th scope="row">2016-2017</th>
                    <td>余文艳</td>
                    <td>张婵娟</td>
                    <td>沈津生</td>
                    <td>闾泽军</td>
                  </tr>
                  <tr>
                    <th scope="row">2017-2018</th>
                    <td>陈明毅</td>
                    <td>曹鹏杰</td>
                    <td>关鹏</td>
                    <td>吴峥嵘</td>
                  </tr>
                  <tr>
                    <th scope="row">2018-2019</th>
                    <td>徐普 <a data-original-title="Mail" href="mailto:xupu@opencas.org"><i class="far fa-envelope"></i></a></td>
                    <td>娄尘哲 <a data-original-title="Mail" href="mailto:louchenzhe@opencas.org"><i class="far fa-envelope"></i></a></td>
                    <td>刘伟乐 <a data-original-title="Mail" href="mailto:liuweile@opencas.org"><i class="far fa-envelope"></i></a></td>
                    <td>刘府金 <a data-original-title="Mail" href="mailto:liufujin@opencas.org"><i class="far fa-envelope"></i></a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-12">
              <h4>社团章程</h4>
              <hr />
              <p><b>第一章 总则</b></p>
              <p>第一条：中国科学院大学开源软件协会（下称协会）是在中国科学院大学团委学生会领导下的学生社团组织，严格遵守《中国科学院大学社团管理条例》和学校各项规章制度，按照规定开展社团活动。</p>
              <p>第二条：协会中文全称为“中国科学院大学开源软件协会”，英文全称为“OpenCAS”，对外保留“中国科学院开源软件协会”，“中科院开源软件协会”称呼。</p>
              <p>第三条：本协会的宗旨和基本服务</p>
              <p>1. 协会宗旨：“自由·开放·分享”-- Chase freedom and share your wisdom。提高中国科学院大学的开源软件学术气氛，为学术交流提供平台。提高会员素质；推广和普及开源运动，传播开源精神。</p>
              <p>2. 坚持在团委学生会的领导下开展工作，代表和维护会员的利益，全心全意为会员服务。</p>
              <p>3. 活跃校园文化，开展健康有益，丰富多彩的社团活动，充实同学们的文化生活。</p>
              <p>4. 密切与各兄弟社团组织的联系，交流经验，增进友谊和了解。</p>
              <p><b>第二章 会员</b></p>
              <p>第四条：入会条件</p>
              <p>凡中国科学院大学学生，承认本协会章程，热心协会工作，开源软件和开源技术的爱好者，支持开源社区和开源软件运动的同仁，均可入会。</p>
              <p>第五条：会员基本权利</p>
              <p>1. 对协会工作提出批评和建议。</p>
              <p>2. 有权参加本协会组织的活动并使用本协会的资源。</p>
              <p>3. 所有会员一律平等。</p>
              <p>第六条：会员基本义务</p>
              <p>1. 遵守协会章程，积极提出建议，协助协会开展活动，维护协会名誉。</p>
              <p>2. 珍惜协会提供的条件，积极参加协会活动。</p>
              <p>3. 互相尊重，互相学习，共同进步。</p>
              <p><b>第三章 主要组织和职权</b></p>
              <p>第七条：机构组成</p>
              <p>1. 常务委员会：负责拟定协会的发展计划，把握发展方向，负责制定各种规章制度，代表协会与外界签署有关文件，监督协调各部门工作。其中，设协会会长一名，副会长若干名。</p>
              <p>2. 技术部：负责定期组织协会内部的技术交流会，组织协会同学参加一些比赛（移动终端应用程序开发大赛，包括赛前的技术培训），发起一些协会内部的开源项目并回馈给开源社区，关注开源领域的新技术，及时向协会传播（发布到协会网站上，以及把相应的参考资料整理到协会的“知识库”），同外部加强交流，请业界的技术达人来协会分享经验和心得，在适当的机会下协会对外做一些技术分享活动。由一名常务委员会委员负责。</p>
              <p>3. 宣传部：负责协会活动的形象设计，日常活动的宣传和海报的设计与张贴，提高会员的参与性。另外负责维护协会网站以及人人公共主页，新浪微博等SNS页面，收集相关的开源活动信息，移动互联网相关的比赛信息，知名企业的招聘和实习信息，以及协会成员力所能及的开源项目信息等，并及时发布。由一名常务委员会委员负责。</p>
              <p>4. 活动部：负责组织协会的相关活动以及活动场地的申请，如参加BLUG的线下交流会、C4F（Coding for Fun）活动，承办一些开源活动（如FSD，HelloGCC，Linux发行版的Release Party等），组织参观知名企业，以及主办一些开源软件比赛。由一名常务委员会委员负责。</p>
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>