<div class="container">
  <div id="main" style="margin-top:30px;">
    <div class="row pl-0">
      <div class="col-md-12 col-sm-12 pl-0">
        <div class="content-page">
          <h2 class="mb-3">中国科学院开源软件协会</h2>
          <div class="row mb-3">
            <div class="col-md-8">
              <h4>社团介绍</h4>
              <hr />
              <p>中国科学院开源软件协会（OpenCAS）创建于2006年，是中科院研究生组成的开源技术社区，也是国内历史最悠久的高校开源组织之一。</p>
              <p>协会秉承 <b class="require">“开放·自由·分享”</b> 的理念聚集开源爱好者，分享开源技术，传递开源理念，为科学院的同学创建平台参与开源项目。并与如Linux Foundation，Firefox，Apache开源软件基金会，BLUG、华为等开源社区、组织和企业进行合作交流。多年来的努力使得协会在开源社区中拥有一定的知名度，各大厂商也提供越来越多的支持。</p>
              <p>倪光南院士、宫敏老师、陈越老师、Intel云平台总监陈绪经理是协会的指导老师。华为副总裁郑忠源博士也给协会提供开源软件实践的机会。</p>
              <div class="row mb-4">
                <div class="col-md-6">
                  <ul class="list-unstyled">
                    <li><i class="fas fa-check-square"></i> 技术交流</li>
                    <li><i class="fas fa-check-square"></i> 传播开源文化</li>
                    <li><i class="fas fa-check-square"></i> 项目锻炼</li>
                  </ul>
                </div>
                <div class="col-md-6">
                  <ul class="list-unstyled">
                    <li><i class="fas fa-check-square"></i> 知识分享</li>
                    <li><i class="fas fa-check-square"></i> 实习/就业帮助</li>
                    <li><i class="fas fa-check-square"></i> 企业合作交流</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <img src="<%- url_for('assets/imgs/opencas_logo_black.png') %>" />
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-12">
              <h4>历届社团负责人</h4>
              <hr />
              <table class="table">
                <tbody>
                  <tr>
                    <th scope="row">2015-2016</th>
                    <td>陈新宇 <a data-original-title="Mail" href="mailto:jasinechen@gmail.com"><i class="far fa-envelope"></i></a></td>
                    <td>丁磊</td>
                    <td>许丹凤 <a data-original-title="Mail" href="mailto:417890223@qq.com"><i class="far fa-envelope"></i></a></td>
                  </tr>
                  <tr>
                    <th scope="row">2016-2017</th>
                    <td>余文艳</td>
                    <td>张婵娟</td>
                    <td>沈津生</td>
                    <td>闾泽军</td>
                  </tr>
                  <tr>
                    <th scope="row">2017-2018</th>
                    <td>陈明毅</td>
                    <td>曹鹏杰</td>
                    <td>关鹏</td>
                    <td>吴峥嵘</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>