<div class="container">
    <section id="main">
        <h3 class="main-title">Category: <%- page.category %></h3>
        <%- partial('_partial/archive', {pagination: config.category}) %>
    </section>
</div>