<% if (site.tags.length){ %>
  <div class="widget-wrap">
    <div class="widget">
      <% function addIcon(name) { return '<i class="fas fa-tag"></i> ' + name } %>
      <%- list_tags({ transform: addIcon, show_count: false }) %>
    </div>
  </div>
<% } %>
