  <!-- BEGIN PRE-FOOTER -->
    <div class="pre-footer">
      <div class="container">
        <div class="row">
          <!-- BEGIN BOTTOM ABOUT BLOCK -->
          <div class="col-md-8 col-sm-8 pre-footer-col">
            <p><%- theme.about %></p>
          </div>
          <!-- END BOTTOM ABOUT BLOCK -->
          <div class="col-md-4 col-sm-4 pre-footer-col text-center">
            <h1>开放·自由·分享</h1>
            <p>Open·Free·Share</p>
          </div>
        </div>
      </div>
    </div>
    <!-- END PRE-FOOTER -->

    <!-- BEGIN FOOTER -->
    <div class="footer">
      <div class="container">
        <div class="row">
          <!-- BEGIN COPYRIGHT -->
          <div class="col-md-6 col-sm-6 padding-top-10">
                 Copyright &copy; <%= date(new Date(), 'YYYY') %> <%= config.author %> | Based on <a href="https://github.com/ptsteadman/hexo-theme-corporate">Hexo Corporate</a> |  <a href="http://www.miitbeian.gov.cn/">京ICP备09112257号-87</a> | <a href="https://github.com/opencas/siteDeployer">本站源码</a>
          </div>
          <!-- END COPYRIGHT -->
        <%- partial('_partial/social') %>
        </div>
      </div>
    </div>
    <!-- END FOOTER -->
