<!-- CATEGORIES START -->
<h2 class="no-top-space">Categories</h2>
<hr />
<%- partial('_widget/category.ejs') %>
<!-- CATEGORIES END -->

<!-- BEGIN BLOG TAGS -->
<div class="blog-tags margin-bottom-20">
  <h2>Tags</h2>
  <hr />
  <%- partial('_widget/tag.ejs') %>
</div>
<!-- END BLOG TAGS -->