<div class="row">
  <div class="col-md-9 col-sm-9">
      <section class="archives-wrap">
        <div class="archives">
          <% page.posts.forEach(function(post) { %>
            <%- partial('archive-post', {post: post}) %>
          <% }) %>
        </div>
        <% if (page.posts.length) { %>
          <div id="page-nav" class="pagination">
            <%- paginator({
              prev_text: 'Prev',
              next_text: 'Next'
            }) %>
          </div>
        <% } %>
      </section>
  </div>
  <div class="col-md-3 col-sm-3 blog-sidebar">
    <%- partial('sidebar') %>
  </div>
</div>