<div class="row events-list">
  <ul class="index-list list-unstyled">
    <% site.pages.filter((page) => page.layout == 'events').slice(0,10).forEach(function(event){ %>
      <%- partial('event-min', {event: event}) %>                                                                                  
    <% }) %>
</ul>
</div>