<div class="row">
  <ul class="index-list list-unstyled">
    <% if (projects !== undefined && projects.length){ %>
      <% projects.slice(0, 10).forEach(function(project){ %>
        <%- partial('project-min', {project: project}) %>
      <% }) %>
    <% } %>
</ul>
</div>