<div class="row">
  <ul class="index-list list-unstyled">
    <% site.pages.filter((page) => page.layout == 'projects').slice(0,10).forEach(function(project){ %>
      <%- partial('project-min', {project: project}) %>                                                                                  
    <% }) %>
</ul>
</div>