<div class="col-lg-4">
    <ul class="social-footer list-inline text-center">
        <li class="list-inline-item">
            <a href="https://github.com/opencas">
                <i class="fab fa-github"></i>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="mailto:admin@opencas.org">
                <i class="far fa-envelope"></i>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="https://t.me/opencas">
                <i class="fab fa-telegram"></i>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="https://weibo.com/osclubofcas">
                <i class="fab fa-weibo"></i>
            </a>
        </li>
        <li class="list-inline-item">
            <a tabindex="0" rel="popover">
                <i class="fab fa-weixin"></i>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="https://jq.qq.com/?_wv=1027&k=5xStlqg">
                <i class="fab fa-qq"></i>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="/atom.xml">
                <i class="fas fa-rss"></i>
            </a>
        </li>
    </ul>
</div>