---
layout: index
---
<div class="container-fluid flush-with-header">
  <div class="row margin-bottom-40 row-corporate bg-light-1">
    <div class="container">
      <div class="col-xs-8 col-sm-8 row-corporate-text-container">
        <div class="row-corporate-text">
          <h1>中国科学院开源软件协会 <b class="require">OpenCAS</b></h1>
          <h1>OpenCAS <b class="require">开源镜像站</b></h1>
          <h4 class="wow fadeIn">中国科学院大学 IPV6 免流量下载<br/>中国科学院大学网络中心鼎力支持<br/>中国科技网（CSTNET）镜像站</h4>
        </div>
      </div>
      <div class="col-xs-4 col-sm-4"><img src="assets/imgs/homePics/1.png"></div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row service-box margin-bottom-40">
    <div class="col-md-4 col-sm-4">
    <div class="service-box-heading">
      <em><i class="fa fa-location-arrow blue wow rollIn"></i></em> <span>活动</span>
    </div>
    <p>我们举办过Apache Rodeshow，Pycon，SFD，开源硬件行等各种各样有趣的，新颖的，充满干货的丰富活动</p><img class="img-responsive" src="assets/imgs/homePics/events.png"></div>
    <div class="col-md-4 col-sm-4">
    <div class="service-box-heading">
      <em><i class="fa fa-check red wow rollIn"></i></em> <span>项目</span>
    </div>
    <p>参与到各种各样的项目中，在实践中锻炼自己.当然，你也可以提出自己的有趣项目，我们一起完成</p><img class="img-responsive" src="assets/imgs/homePics/projects.png"></div>
    <div class="col-md-4 col-sm-4">
    <div class="service-box-heading">
      <em><i class="fa fa-compress green wow rollIn"></i></em> <span>讨论</span>
    </div>
    <p>协会每两周会举办一次讨论活动，在教室、在湖边，自由的topic，在交流与讨论中成长</p><img class="img-responsive" src="assets/imgs/homePics/discss.png"></div>
  </div>
</div>
<div class="main">
  <div class="container">
    <hr style="margin-top:-20px">
    <div class="row">
      <div class="col-md-2">
        <h2>赞助商</h2>
        <p>感谢所有支持开源事业的人</p>
      </div>
    </div>
    <div class="row margin-bottom-20 our-clients">
      <div class="col-md-12">
        <div class="owl-carousel owl-carousel6-brands">
          <div class="client-item">
            <a href="http://www.acer.org.cn/"><img alt="" class="img-responsive" src="assets/imgs/sponsors/acer_gray.png"> <img alt="" class="color-img img-responsive" src="assets/imgs/sponsors/acer.png"></a>
          </div>
          <div class="client-item">
            <a href="http://www.cstnet.net.cn/"><img alt="" class="img-responsive" src="assets/imgs/sponsors/cstnet_gray.png"> <img alt="" class="color-img img-responsive" src="assets/imgs/sponsors/cstnet.png"></a>
          </div>
          <div class="client-item">
            <a href="http://www.linuxstory.org/"><img alt="" class="img-responsive" src="assets/imgs/sponsors/linuxstory_gray.png"> <img alt="" class="color-img img-responsive" src="assets/imgs/sponsors/linuxstory.png"></a>
          </div>
          <div class="client-item">
            <a href="http://www.ituring.com.cn/"><img alt="" class="img-responsive" src="assets/imgs/sponsors/turing_gray.png"> <img alt="" class="color-img img-responsive" src="assets/imgs/sponsors/turing.png"></a>
          </div>
          <div class="client-item">
            <a href="https://www.zpdaren.com/"><img alt="" class="img-responsive" src="assets/imgs/sponsors/zhunpin_gray.png"> <img alt="" class="color-img img-responsive" src="assets/imgs/sponsors/zhunpin.png"></a>
          </div>
          <div class="client-item">
            <a href="http://www.emindos.org/"><img alt="" class="img-responsive" src="assets/imgs/sponsors/emind_gray.png"> <img alt="" class="color-img img-responsive" src="assets/imgs/sponsors/emind.png"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

