<div class="container">
  <ul class="breadcrumb">
    <li><a href="/">HOME</a></li>
    <li class="active">ARCHIVES</li>
  </ul>
<div id="main" style="margin-top:30px;">
<!--   <h1>Blog</h1>
 -->  <%- partial('_partial/archive', {pagination: config.archive, index: false}) %>
</div>
</div>
